<h1>Contato</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="nome">Nome Contato</label>
            <input type="text" id="nome" class="form-control" ng-model="vm.nome.nome" required />
        </div>

	      <div class="form-group">
            <label for="fone">Fone</label>
            <input type="text" id="fone" class="form-control" ng-model="vm.nome.fone" required />
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" class="form-control" ng-model="vm.nome.email" required />
        </div>

<!--        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
        </div>
-->
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveContato()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteContato()">Delete</button>
        </div>
    </form>
</div>
