    <div class="credits text-center">
        <p>
            <a href="https://github.com/ErikTeTsuoNakamura/ProjetoLabEngSof">Para Acessar o Repositório do Projeto</a>
        </p>
        <p>
            <a href="http://pudim.com.br/">&copy;2016 Company,  All Rights Reserved</a>
        </p>
    </div>
</body>
</html>
